fatal: ambiguous argument 'lesson17\homework_17;.gitignore': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'
